
                        <div class="col-xs-5">
                            <div class="x_title"><h4>所有权限</h4></div>
                            <select id="search" class="form-control" size="8" multiple="multiple">
                                {% for k,v in permissions_dict.items %}
                                <option name="permission" value="{{ k }}">{{ v }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-xs-2" style="padding-top:60px;">
                            <button type="button" id="search_rightAll" class="btn btn-block"><i class="fa fa-forward"></i></button>
                            <button type="button" id="search_rightSelected" class="btn btn-block"><i class="fa fa-chevron-right"></i></button>
                            <button type="button" id="search_leftSelected" class="btn btn-block"><i class="fa fa-chevron-left"></i></button>
                            <button type="button" id="search_leftAll" class="btn btn-block"><i class="fa fa-backward"></i></button>
                        </div>

                        <div class="col-xs-5">
                            <div class="x_title"><h4>已选权限</h4></div>
                            <select id="search_to" class="form-control" size="8" multiple="multiple">
                            {% if select_permissions_dict %}
                            {% for k,v in select_permissions_dict.items %}
                            <option name="permission_select" value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                            {% endif %}
                            </select>
                        </div>