
<div class="col-xs-5">
    <div class="x_title"><h4>所有用户</h4></div>
    <select id="search_user" class="form-control" size="8" multiple="multiple">
        {% for k,v in users_dict.items %}
        <option name="user" value="{{ k }}">{{ v }}</option>
        {% endfor %}
    </select>
</div>

<div class="col-xs-2" style="padding-top:60px;">
    <button type="button" id="search_user_rightAll" class="btn btn-block"><i class="fa fa-forward"></i></button>
    <button type="button" id="search_user_rightSelected" class="btn btn-block"><i class="fa fa-chevron-right"></i></button>
    <button type="button" id="search_user_leftSelected" class="btn btn-block"><i class="fa fa-chevron-left"></i></button>
    <button type="button" id="search_user_leftAll" class="btn btn-block"><i class="fa fa-backward"></i></button>
</div>

<div class="col-xs-5">
    <div class="x_title"><h4>已选用户</h4></div>
    <select id="search_user_to" class="form-control" size="8" multiple="multiple">
    {% if select_users_dict %}
    {% for k,v in select_users_dict.items %}
    <option name="user_select" value="{{ k }}">{{ v }}</option>
    {% endfor %}
    {% endif %}
    </select>
</div>