<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="/" class="site_title"><i class="fa fa-spinner"></i> <span>DevOps</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">
            <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>Welcome,</span>
            <h2>{{ request.user.username }}</h2>
        </div>
    </div>
    <!-- /menu profile quick info -->

    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'index' %}">主页</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-cubes"></i> 运维管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'file_manage' %}">文件上传</a>
                        <li><a href="{% url 'remote_execution' %}">远程命令</a>
                        <li><a href="{% url 'project_list' %}">项目列表</a>
                        <li><a href="{% url 'code_deploy_list' %}">发布项目</a>
                        </li>
                    </ul>
                </li>
                <li><a><i class="fa fa-desktop"></i> 资产管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">

                        <li><a href="{% url 'server_info' %}">虚拟机管理</a></li>
                        <li><a href="{% url 'cloud_asset_list' %}">公有云管理</a></li>
                        <li><a href="{% url 'owner_list' %}">负责人管理</a></li>
                    </ul>
                </li>

                <li><a><i class="fa fa-user"></i> 用户管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'user_list' %}">查看用户</a>
                            <ul class="nav child_menu">
                                <li class="sub_menu" style="display: none"><a
                                        href="{% url 'user_add' %}">新增用户</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a><i class="fa fa-bars"></i> salt管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'salt_key_list' %}">salt主机列表</a></li>
                        <li><a href="{% url 'salt_group_list' %}">salt分组管理</a>
                    </ul>
                </li>

                <li><a><i class="fa fa-arrows"></i> 日志审计 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'log_audit' %}">操作日志</a></li>
                    </ul>
                </li>

            </ul>
        </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->
</div>
