{% extends 'base/base.html' %}
{% block title %} 云计算详情 {% endblock title %}
{% block stylesheets %}
    {{ block.super }}
{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>IDC详细信息 <small>|&nbsp;<a href="{% url 'cloud_asset_list' %}">数据中心</a></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                {% for i in idc_detail %}
                                <tr>
                                    <th>机房名称</th>
                                    <td>{{ i.idc_name }}</td>
                                </tr>
                                <tr>
                                    <th>机房类型</th>
                                    <td>{{ i.idc_type }}</td>
                                </tr>
                                <tr>
                                    <th>机房位置</th>
                                    <td>{{ i.idc_location }}</td>
                                </tr>
                                <tr>
                                    <th>到期时间</th>
                                    <td>{{ i.contract_date }}</td>
                                </tr>
                                <tr>
                                    <th>联系电话</th>
                                    <td>{{ i.idc_contacts }}</td>
                                </tr>
                                <tr>
                                    <th>备注</th>
                                    <td>{{ i.remark|linebreaks }}</td>
                                </tr>
                                {% endfor %}
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}
{% block javascripts %}
    {{ block.super }}
{% endblock %}