[deploy]
backup_count=10
user=root
key_file=/root/.ssh/xxxxx.key


[jenkins]
url=http://xxxx.xxx.xxx:8080/jenkins
ip =xx.xxx.xxx.xx
work_base=/root/.jenkins/workspace/
username=
password=


[saltstack]
url=http://xxxx.xxx.xxx.xx:8000
username=
password=


[aliyun]
accessKeyId=
accessSecret=


[webssh]
ip=
port=
username=
password=

[dba]
username=
password=

[file_base_url]
url=http://127.0.0.1:8080/
